.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background :rgb(73, 80, 82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.container{
  width: 100%;
  height:auto;
}
.list-items{
  width: 99vw;
  height:100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
};